
cad_files/fp-info-cache
cad_files/GENERIC_CAN-rescue.lib
cad_files/WEATHER_STATION-cache.lib
cad_files/sym-lib-table
cad_files/WEATHER_STATION.kicad_pcb-bak
cad_files/WEATHER_STATION.sch-bak
cad_files/WEATHER_STATION.net
